{
  "env": {
    "development": {
      "presets": ["react-app"]
    },
    "production": {
      "presets": ["react-app"]
    },
    "test": {
      "presets": ["react-app"]
    },
    "node": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current"
            }
          }
        ],
        "react",
        "stage-0"
      ]
    }
  }
}
